= simple_form_for @comment do |f|
  = f.error_notification
  .form-inputs
    = f.input :user_name, label: false, placeholder: 'Name (required field)'
    = f.input :body, placeholder: 'Please, leave your comment', label: false, :input_html => { :rows => 6 }
    = f.hidden_field :hotel_id
    = f.hidden_field :user_id
    = f.simple_fields_for :rating, @comment.rating do |p|
      = p.input :hotel_id, as: :hidden
      = p.input :user_id, as: :hidden
      = p.input :comment_id, as: :hidden
      = p.input :score, as: :select, collection: (1..5).to_a, label: 'Rate', include_blank: false
  .form-actions
    = f.button :submit
