%h1 Top rated hotels
.container
  - @hotels.each do |hotel|
    .title
      %h3= link_to hotel.title, hotel
    %h4
      .rating{:data_score => "#{hotel.rating}"}Rating:
    .hotel
      = image_tag hotel.photo_url(:thumb) if hotel.photo.present?
    .one
      %h3 Comments
      - hotel.comments.each do |comment|
        %strong= comment.user_name
        %br
        %p= truncate(strip_tags(comment.body), length:100)
      %p{:style=>"clear:left"}

:javascript
  $('.rating').raty({
    readOnly: true,
    path: '/img',
    score: function(){
      return $(this).attr('data_score');
    }
  });
