<%= simple_form_for(@hotel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, :input_html => { :rows => 6 }  %>
    <%= f.input :price %>
    <%= f.check_box :breakfast, checked_value = "1", unchecked_value = "0" %>
    <%= f.file_field :photo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
