<div>
  <div>
    <%= image_tag(@hotel.photo_url, :width => "60%") if @hotel.photo.present? %>
  </div>

  <div class="description">
    <div><b>Title: </b><h4><%= @hotel.title %></h4></div>
    <div><b>Room Description: </b>
      <div><%= @hotel.description %></div>
    </div>
     <p>
      <%= link_to 'Edit', edit_hotel_path(@hotel) %> |
      <%= link_to 'Destroy', @hotel, confirm: 'Are you sure?', method: :delete %> |
      <%= link_to 'Back', hotels_path %>
     </p>
    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    <%= render 'comments/form' %>
      <%= link_to 'Back', hotels_path, :class => "btn btn-success" %>
  </div>
</div>
