<div class="row">
  <div class="span9">
    <%= image_tag(@hotel.photo_url, :width => "100%") if @hotel.photo.present? %>
  </div>

  <div class="span3">
    <p><b>Name: </b><%= @hotel.title %></p>
    <p><b>Description: </b><%= @hotel.description %></p>
    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
      </div>
    <% end %>
    <%= render 'comments/form' %>
      <%= link_to 'Back', hotels_path, :class => "btn btn-success" %>
  </div>
</div>
